<div class="special-offer-area">
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
</div>
<div class="domestic-holiday-area">
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>    
</div>
<div class="international-holiday-area">
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="title">
            <h1>Title name</h1>
        </div>
        <div class="description">
            <p>Write Your name</p>
            <button class="btn">Read More....</button>
        </div>
    </div>
</div>
<div class="travel-blog-area">
    <div class="blog-card">
        <div class="blog-image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="blog-link">
            <a href="">first blog link1</a>
        </div>
    </div>
    <div class="blog-card">
        <div class="blog-image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="blog-link">
            <a href="#">second blog</a>
        </div>
    </div>
    <div class="blog-card">
        <div class="blog-image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="blog-link">
            <a href="#">Third blog</a>
        </div>
    </div>
    <div class="blog-card">
        <div class="blog-image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="blog-link">
            <a href="#">fourth blog</a>
        </div>
    </div>
    <div class="blog-card">
        <div class="blog-image">
            <img src="./assets/blue_nature.jpg"/>
        </div>
        <div class="blog-link">
            <a href="#">fourth blog</a>
        </div>
    </div>
</div>