<div class="special-offer-area">
    <div class="text-part">
        <h1 class="section_heading one append_bottom26 aleo_light text-center">Special Offers</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci modi illum eos, enim, sed distinctio doloremque itaque similique ab architecto numquam provident impedit vel commodi suscipit! Placeat aliquam eaque similique!</p>
  </div>
</div>
<div class="domestic-holiday-area">
    <div class="text-part">
        <h1 class="section_heading one append_bottom26 aleo_light text-center">Domestic Holiday</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/travel_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/travel_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/travel_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="international-holiday-area">
    <div class="text-part">
        <h1 class="section_heading one append_bottom26 aleo_light text-center">International Holiday</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/travel_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/travel_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/travel_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="travel-blog-area">
    <div class="text-part">
        <h1 class="section_heading one append_bottom26 aleo_light text-center">Travel Blog</h1>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide> 
                <img src="./assets/snow.jpg" class="img-thumbnail" >
                <div class=image-overlay>
                    <div class="image-title">Snow</div>
                    <p class="image-description"><a href="#">Visit the snow.</a></p>
                </div>
            </ng-template>  
            <ng-template carouselSlide> 
                <img src="./assets/snow.jpg" class="img-thumbnail">
                <div class=image-overlay>
                    <div class="image-title">Snow</div>
                    <p class="image-description"><a href="#">Visit the snow.</a></p>
                </div>
            </ng-template>  
            <ng-template carouselSlide> 
                <img src="./assets/snow.jpg" class="img-thumbnail">
                <div class=image-overlay>
                    <div class="image-title">Snow</div>
                    <p class="image-description"><a href="#">Visit the snow.</a></p>
                </div>
            </ng-template>  
        </owl-carousel-o>
  </div>
</div>