<div class="justify-content-between">
<div class="cards">
    <div class="image">
        <img src="./assets/blue_nature.jpg"/>
    </div>
    <div class="title">
        <h1>Title name</h1>
    </div>
    <div class="description">
        <p>Write Your name</p>
        <button class="btn">Read More....</button>
    </div>
</div>

<div class="cards">
    <div class="image">
        <img src="./assets/blue_nature.jpg"/>
    </div>
    <div class="title">
        <h1>Title name</h1>
    </div>
    <div class="description">
        <p>Write Your name</p>
        <button class="btn">Read More....</button>
    </div>
</div>

<div class="cards">
    <div class="image">
        <img src="./assets/blue_nature.jpg"/>
    </div>
    <div class="title">
        <h1>Title name</h1>
    </div>
    <div class="description">
        <p>Write Your name</p>
        <button class="btn">Read More....</button>
    </div>
</div>

<div class="cards">
    <div class="image">
        <img src="./assets/blue_nature.jpg"/>
    </div>
    <div class="title">
        <h1>Title name</h1>
    </div>
    <div class="description">
        <p>Write Your name</p>
        <button class="btn">Read More....</button>
    </div>
</div>

<div class="cards">
    <div class="image">
        <img src="./assets/blue_nature.jpg"/>
    </div>
    <div class="title">
        <h1>Title name</h1>
    </div>
    <div class="description">
        <p>Write Your name</p>
        <button class="btn">Read More....</button>
    </div>
</div>
</div>
